<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudyPlatform.Properties.Settings.StudyPlatformConnectionString"
            connectionString="Data Source=DESKTOP-BLH070P;Initial Catalog=StudyPlatform;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>